__pycache__/
dist/
tools/
tests/
.pytest_cache/
*.pyc
*.spec
*.bat
# Example: use !release_to_github.bat below this line to re-include that file.
*.log
client_secret*.json
test.bmp
testing.bmp
testing3.bmp
pytest.ini
release_to_github.bat
